page-home {
    .top-content{
        background-color: #222f3a;
        width: 100%;
        height: 20%;
    }
    .bottom-content{
        background-color: #37424a;
        width: 100%;
        position: absolute;
        bottom:0px;
        left:0px;
    }
    .indication{
        padding: 5px;
    }
    .indication-text{
        color: #5c7683;
        margin-left: 10px;
        vertical-align: bottom;
        font-size: 16px;
        font-weight: bold;
    }
    .icon-indicate{
        width: 25%;
    }
    .plain-content{
        background-color: #222f3a;
    }
    .hamburger{
        width: 7%;
        position: relative;
        top: 3px;
        margin-left: 10px;

    }
    .title-text{
        color: #5c7683;
        margin-left: 10px;
        vertical-align: super;
        font-size: 24px;
        font-weight: bold;
    }
    .nav-title{
        margin-bottom: 21px;
    }
    .max-width{
        width:30% !important;
    }
    .battery-adjust{
        position: relative;
        top: 4px;
    }
    .textbattery{
        position: relative;
        top: 1px;
    }
    .textkm{
        position: relative;
        bottom: 2px;
    }
    .button-prop{
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
    }
    .bottom-content .ion-row-height{
        height: 100%;
    }
    .lock-icon{
        width:70%;
    }
    .lock-icon-div{
        position: relative;
        top: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .control-container{
        position: relative;
        margin: 20px auto 0;
        width: 100%;
    }
    .control-container-image{
        display: block;
        position: relative;
        width: 100%;
    }
    .controls{
        position: absolute;
        left: 32.5%;
        width: 30%;
    }
    .control-flash{
        top: 5%;
    }
    .control-start{
        top: 30%;
    }
    .control-find{
        top: 55%;
    }
    .control-panic{
        top: 80%;
    }

    .tyrepressure{
        position: absolute;
        left: 65%;
        width: 30%;
    }
    .tyre-front{
        top:0%
    }
    .tyre-back{
        top: 85%;
    }
    .message-bar{
        position: relative;
        top: 20px;
        border: 1px solid #5c7683;
        border-radius: 8px;
        width: 75%;
        text-align: center;
    }
    .message-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
